<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="https://www.dododex.com/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta charset="utf-8">
  <title>{{ page.title }} - Dododex Help</title>
  <link href="https://www.dododex.com/css/style.css" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJG3578QP1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-RJG3578QP1');
  </script>
  <script>window.nitroAds=window.nitroAds||{createAd:function(){window.nitroAds.queue.push(["createAd",arguments])},addUserToken:function(){window.nitroAds.queue.push(["addUserToken",arguments])},queue:[]};</script>
  <script async src="https://s.nitropay.com/ads-50.js"></script>
</head>
<body class="accent markdown">
  <div id="contentwrap"><div id="content">
    <header id="dodoheader">
      <div class="wrap">
      <h1>
        <a href="https://www.dododex.com/" title="ARK Taming Calculator">
          <div id="dogo_image"><img src="https://www.dododex.com/media/logo-small.png" alt="ARK: Survival Evolved Taming Calculator" height="50" width="44" /></div>
          <div id="dogo_text">
            <div id="dogo_name">Dododex</div>
            <div id="dogo_tagline">ARK: Survival Evolved Companion</div>
          </div>
        </a>
      </h1>
      </div>
    </header>
    <div id="body" class="accent" style="padding-bottom:4em">

      <header class="pageheader">
        <div class="wrap">
          <div class="pageheaderh1">
          {% if page.name != 'index.md' %}
          <div><a href="/" class="button">← Back to FAQ</a></div>
          {% endif %}
          <h1>Dododex Help</h1>
          </div>
        </div>
      </header>

      <div class="wrap" style="max-width:800px;">
        {% if page.hideHeading != true %}
        <h1 class="title" style="margin-bottom:0.5em">{{ page.title }}</h1>
        {% endif %}
        <div class="lh kindabig">
          {{ content }}
        </div>
      </div>
    </div>

  <div style="padding:2.5em 0 2em"><div id="ad_help_bottom" class="center"></div></div>
  <script type="text/javascript">
  window["nitroAds"].createAd('ad_help_bottom', {
   "floor": 0.05,
   "refreshLimit": 20,
   "refreshTime": 30,
   "report": {
     "enabled": true,
     "wording": "Report Ad",
     "position": "fixed-bottom-right"
   }
  });
  </script>

    
  </div></div>

  
  {% if page.name != 'index.md' %}

  <footer id="footer" class="light">
    <div class="tinywrap">
    <div class="mainLinks marginBottom2 left cols">
    <div class="col">
    <h3 class="uppercase">Related</h3>
    <ul>
      {% assign current_page = page %}
      {% for page in site.pages %}
        {% if page.category == current_page.category and page.url != current_page.url %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
    
    </div>

    </div>
  </footer>
{% endif %}


</body>
</html>
