<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Dododex Help</title>
  <link href="https://www.dododex.com/css/style.css" rel="stylesheet">
</head>
<body class="accent">
  <div id="contentwrap"><div id="content">
    <header id="dodoheader">
      <div class="wrap">
      <h1>
        <a href="/" title="Ark Taming Calculator">
          <div id="dogo_image"><img src="/media/logo-small.png" alt="ARK: Survival Evolved Taming Calculator" height="50" width="44" /></div>
          <div id="dogo_text">
            <div id="dogo_name">Dododex</div>
            <div id="dogo_tagline">ARK: Survival Evolved Companion</div>
          </div>
        </a>
      </h1>
      </div>
    </header>
    <div id="body" class="accent">
      <div id="main">
        <div class="wrap">
      
          {{ content }}

        </div>
      </div>
    </div>
  </div></div>
</body>
</html>


  